.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-header {
  color: hsl(150, 100%, 66%);
}

.card-text {
  height: 50px;
}

.card-button {
  background-image: url('../images/icon-dice.svg');
  background-color: hsl(150, 100%, 66%);
  border-radius: 25px;
  height: 2rem;
  width: 2rem;
}
